{%load static%}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'schematicsapp/css/basestyle2.css' %}" />
    {% block css %}{% endblock css %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      {% block javascript %}
      {% endblock javascript %}
    <title>SKEMATIK</title>
  </head>
  <body style="padding-top: 50px;">
    <nav class="navbar navbar-ian navbar-fixed-top">
      <div class="container-fluid" id="page-wrapper">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{%url 'home' %}"><img src="{% static 'schematicsapp/images/skematik.png' %}" width="100px"; style=";margin-right:10px;margin-bottom:200px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="">About Us</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    </div>
        {% block content %}
        {% endblock content%}
  </body>
</html>
