{% extends 'base.html' %}
{% load static %}
{% block css%} <link rel="stylesheet" type="text/css" href="{% static 'schematicsapp/css/registerstyle.css' %}" /> {%endblock css %}
{% block content %}
<div class="container-fluid">
<div class="row no-left-right-margin">
  <div class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <!---
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    -->

    <!-- Slides Wrapper -->
    <div class="carousel-inner">
      <div class="item active">
      </div>
      <div class="item">
      </div>
      <div class="item">
      </div>
    </div>

            <!-- Controls -->
            <!---
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
            </a>
              -->
  </div>
  <div class="row main-container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-4">
        <h1 id="site-title">Account Registration</h1>
      </div>
    </div>
    <div class="row message-container">
      <div class="col-lg-4 message-contents">
        <!--Left Message!--->
        <div class="row">
          <div class="row top-buffer-10"></div>
          <div class="col-lg-12">
            <h1 id="big-message">Joining is Easy!</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <h3>All you need to do is fill-up the Registration form</h3>
          </div>
          <div class="col-lg-12">
            <h3>Make sure to enter a valid e-mail address in order to resolve forgotten passwords</h3>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row top-buffer-30"></div>
        <div class="panel panel-custom panel-margin">
          <div class="panel-heading">
            <h1 class="panel-title">Account Information</h1>
          </div>
          <div class="panel-body">
            <form method='post' action=".?next={{ redirect_to }}"> {% csrf_token %}
              <div class="row">
                <div class="col-lg-12">
                <div class="form-group">
                  <label class="login-labels">Username</label>
                  <input type="text" name="username" class="form-control">
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                <div class="form-group">
                  <label class="login-labels">Password</label>
                  <input type="password" name="password" class="form-control">
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                <div class="form-group">
                  <label class="login-labels">First Name</label>
                  <input type="text" name="first_name" class="form-control">
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                <div class="form-group">
                  <label class="login-labels">Last Name</label>
                  <input type="text" name="last_name" class="form-control">
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12">
                <div class="form-group">
                  <label class="login-labels">Email</label>
                  <input type="email" name="email" class="form-control">
                </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-12 col-lg-offset-4">
                  <div id="loginbutton">
                    <button class="btn btn-success" type="submit">Register</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
</div>

{% endblock %}

<!--
<!--
  <form method='post' action=".?next={{ redirect_to }}"> {% csrf_token %}
    <div class="form-group">
      <label class="login-labels">Username</label>
      <input type="text" name="username" class="form-control" id="login">
    </div>

    <div class="form-group">
      <label class="login-labels">Password</label>
      <input type="password" name="password" class="form-control">
    </div>
    <div class="form-group">
      <label class="login-labels">First Name</label>
      <input type="first_name" name="first_name" class="form-control">
    </div>
    <div class="form-group">
      <label class="login-labels">Last Name</label>
      <input type="last_name" name="last_name" class="form-control">
    </div>
    <div class="form-group">
      <label class="login-labels">Email</label>
      <input type="email" name="email" class="form-control">
    </div>
    <div id="loginbutton">
      <button class="btn btn-success" type="submit">Register</button>
    </div>
  </form>

-->

-->