{% extends "QuiverMain/mainbase.html" %}
{% load static %}
{% load i18n widget_tweaks %}
{% block css %}

{% endblock css %}

{% block title %}<title>Edit Profile</title> {% endblock title %}

{% block bodytag %} {% endblock bodytag %}

{% block content %}
    <div class = "row">
        <div class = "col-md-3">
            <h1 id="head-message">{{title}}</h1>
        </div>
    </div>
    <div>
        <form class="form-horizontal" method="POST" action=".?next={{ redirect_to }}" enctype="multipart/form-data"> {% csrf_token %}
            <div class = "row">
                <legend class="legend-text">User Information</legend>

                <div class="form-group col-lg-12">
                    <label>First Name</label>
                    <div class="form-group col-lg-12">
                        {{ user_form.first_name|attr:"class:form-control" }}
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label>Last Name</label>
                    <div class="form-group col-lg-12">
                        {{ user_form.last_name|attr:"class:form-control" }}
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label>Profile Picture</label>
                    <div class="form-group col-lg-12">
                        {{ profile_form.profile_picture  }}
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label>Biography</label>
                    <div class="form-group col-lg-12">
                        {{ profile_form.bio |attr:"class:form-control"   }}
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label>Gender</label>
                    <div class="form-group col-lg-12">
                        {{ profile_form.gender |attr:"class:form-control"  }}
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label>Birthday</label>
                    <div class="form-group col-lg-12">
                        {{ profile_form.birth_date |attr:"class:form-control"  }}
                    </div>
                </div>


                <legend class="legend-text">Educational Background</legend>
                <div class="form-group col-lg-12">
                    <label>School</label>
                    {{ profile_form.school |attr:"class:form-control"  }}
                </div>

                <div class="form-group col-lg-12">
                    <label>Degree</label>
                    {{ profile_form.degree |attr:"class:form-control"  }}
                </div>

                <legend class="legend-text">Contact Information</legend>
                <div class="form-group col-lg-12">
                    <label>Mobile Number</label>
                    {{ profile_form.mobile_number |attr:"class:form-control"  }}
                </div>

                <div class="form-group col-lg-12">
                    <label>Telephone</label>
                    {{ profile_form.telephone_number |attr:"class:form-control"  }}
                </div>

                <div class="form-group col-lg-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

                <div class="form-group col-lg-3">
                    <a href="/homescreen/" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
