.container{
    min-width:100%;
}

#bg{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card{
    font-family: Calibri;
    margin:0 auto;
    width:250px;
}

.login-info{
    margin-top:100px;
    color: white;
}

#quiver-text{
    font-weight:bold;
}

.login-labels, #emailHelp{
}

.form-group{
    line-height:20px;
}

#login-errorsbox{
    border:1px solid red;
}

#login-errors{
    color:red;
}


