page-wrapper {
    position: relative;
    min-height: 100%;
}

#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}

.message{
        width:850px;
        position: absolute;
        left: 10%;
        top: 10%;
        bottom: 0;
        padding: 20px 0;
}

.message-content{
    width: 750px;
    height: 100%;
    margin-top:100px;

}

#welcome-message{
    color: #fff;
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 50pt;
}

.sub-message{
    color: #fff;
    font-family: Century Gothic;
    font-size: 20pt;
}

 .login {
        width:850px;
        position: absolute;
        left: 58%;
        top: 10%;
        bottom: 0;
        padding: 20px 0;
        margin-right: 300px;
    }

.login-content {
    width: 400px;
    float: right;
    margin-top:80px;
    margin-right:300px; /* width of .container gutter */
}

.card{
    font-family: Calibri;
    margin:0 auto;
    width:350px;
}

.form-group{
    line-height:4   0px;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;

}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url('/static/schematicsapp/images/background1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url('/static/schematicsapp/images/background2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url('/static/schematicsapp/images/background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}

.login-labels{
    color: black;
}