#site-title{
    font-family: Century Gothic;
    font-weight: bold;
    font-size:25pt;
}

.top-buffer-50 {
margin-top:50px;
}

.top-buffer-30 {
margin-top:30px;
}

.top-buffer-20 {
margin-top:20px;
}

.top-buffer-100 {
margin-top:100px;
}

.top-buffer-10 {
margin-top:10px;
}


.no-left-right-margin{
margin-left:-15px;
margin-right:-15px
}

