{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login/style2.css' %}" />
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>


<h1>Quiver Home Page</h1>

<p>This is Quiver Home Page.</p>

<a href="/Add Projects/">Blog</a>
{% if user.is_authenticated %}
    <a href="/logout/">Logout</a>
{% else %}
    <a href="/login/?next={{ request.path }}">Login</a>
{% endif %}