{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'login/css/loginstyle.css' %}" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<div class="container-fluid">
<div class="row background">
        <div class="centered">
            <div class="card" style="width:300px;">
                <img class="card-img-top" src="../static/login/images/DLSUSeal.png" style="width:120;padding-bottom:20px;margin-left:85px;" alt="Card image cap">

                    <form method="post" action=".?next={{ redirect_to }}"> {% csrf_token %}

                      <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="form-group">
                                    <label class="login-labels">Username</label>
                                    <input type="text" name="username" class="form-control" id="loginemail" aria-describedby="emailHelp">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label class="login-labels">Password</label>
                                    <input type="password" name="password" class="form-control">
                                </div>

                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Stay signed in?</label>
                                </div>
                                <div id="cbox">
                                    <button  class="btn btn-success " style="width:100%" type="submit" value="Login">Log-in</button>
                                </div>

                                <a href="/register/">Don't have an account yet? Click here to Register!</a>
                            </li>
                      </ul>
                    </form>
            </div>
        </div>
    </div>
</div>