body{

}

#wrapper{
    width:100%;
    min-height:100%;
}

#header-id{
    font-family : Century Gothic;
    font-weight: bold;
    margin: 0 auto;
    font-size: 50pt;

}



.registrationform-side1{
    width:40%;
    margin-left:20px;
}

.formcontainer{
    margin-left: 20px;
}

.background{
        background-color: #77dd77;
}
